* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: hsl(226, 43%, 10%);
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
}

#report {
    grid-row-start: span 3;
}

.cardContainer > div {
    background-color: hsl(235, 46%, 20%);
    border-radius: 20px;
}